@import "tailwindcss";
@import "./theme.css";

/* Works for both vertical and horizontal scrollbars */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;  /* vertical scrollbar */
  height: 6px; /* horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* subtle color */
  border-radius: 9999px;
}